$primaryColor: #99e7d0;
$primaryColorDark: #78c3ad;
$fontPrimaryColor: #4a4a4a;
$fontLightColor: #a5adb8;
$lightBorderColor: #ccc;
$darkBorderColor: #999;
$whiteColor: #fff;
$mainBackgroundColor: #f4f4f4;
$focusOutlineColor: $primaryColorDark;
$transitionDurationDefault: 0.3s;
